* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Iceberg', cursive;
    padding: 20px;
}

.header {
    height: 95vh;
    background-image:
        linear-gradient(to right bottom, rgba(111, 152, 213, 0.4), rgba(40, 54, 180, 0.4)), 
        url("img/toronto_night.jpg");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
}

.header-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-text {
    color: #fff;
    text-transform: uppercase;
    margin: 40px;
}

.header-text-main {
    display: block;
    font-size: 70px;
    font-weight: 400;
    letter-spacing: 35px;

    animation-name: moveToLeft;
    animation-duration: 1s;
}

.header-text-sub {
    display: block;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 9.1px;

    animation-name: moveToTop;
    animation-duration: 1s;
}

.btn:link,
.btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 40px;
    border-radius: 100px;
    transition: all .2s; /* A animação só vai ser feita nos outros eventos, porém precisa ser declarada na criação do elemento */
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(250, 249, 249, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(250, 249, 249, 0.2);
}

.btn-white {
    background-color: #fff;
    display: inline-block;
    color: #777;
}

@keyframes moveToLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    80% {
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveToTop {
    0% {
        opacity: 0;
        transform: translateY(-100%)
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}